/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

/* Header */
header {
  background-color: #bebebe;
  padding: 20px;
}

.welcome-section {
  text-align: center;
  margin-top: 10px;
}

.welcome-heading {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.website-heading {
  font-size: 48px;
  font-weight: bold;
}

/* Gallery */
.main-content {
  padding: 50px;
}

.gallery-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-link {
  flex: 0 0 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.gallery-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gallery-link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.2;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.gallery-link:hover::before {
  opacity: 0.3;
}

.gallery-link .gallery-overlay {
  text-align: center;
  padding: 20px;
}

.gallery-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.gallery-text {
  font-size: 18px;
}

/* Footer */
footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  font-size: 14px;
}

.footer-content p {
  margin-bottom: 10px;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #bebebe;
}
