/* styles.css */

.welcome-section {
  text-align: center;
  margin-top: 10px;
}

.welcome-heading {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.website-heading {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

header {
  background-color: #bebebe;
  padding: 20px;
}

h2 {
  color: #333;
  text-align: center;
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.gallery-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: #f1f1f1;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.gallery-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gallery-link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.2;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.gallery-link:hover::before {
  opacity: 0.3;
}

.gallery-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.gallery-text {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: #333;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f1f1f1;
}

.about-content {
  flex: 1;
  margin-right: 30px;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
  margin-left: 580px;
}

.about-section h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.about-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
}

.footer {
  background-color: #333;
  padding: 20px;
  color: #fffefe;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.box-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  flex: 0 0 calc(33.33% - 10px);
  padding: 20px;
  background-color: #d1cccc;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: center;
}

.empty-box {
  background-color: #d1cccc;
}

.empty-box:hover {
  background-color: #ccc;
}
