/* styles.css */
.welcome-section {
    text-align: center;
    margin-top: 10px;
  }
  
  .welcome-heading {
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  .website-heading {
    font-size: 48px;
    font-weight: bold;
    color: #333;
  }
  
  header {
    background-color: #bebebe;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  /* photos.css */
  
  /* Gallery Styles */
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .gallery-item {
    position: relative;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .gallery-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery-item:hover .gallery-item-overlay {
    opacity: 1;
  }
  
  .gallery-item-overlay-content {
    text-align: center;
    color: #fff;
  }
  
  .gallery-item-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .gallery-item-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
  
/* styles.css */

/* ... existing styles ... */

footer {
  background-color: #333;
  padding: 20px;
  color: #fffefe;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

  
  .footer-content {
    font-size: 14px;
  }
  